<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Final Yearbook</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0; 
            padding: 0;
            background-color: cornsilk;
        }
        a {
            text-decoration: none;
        }
        li{
            list-style: none;
        }
        .container-fluid {
            background-color: rgb(248, 236, 186);
            position: relative;
            margin: auto;
        }
        .container-fluid li{
            position: relative;
            padding-left: 250px;
            padding-bottom: 15px;
        }
        .header-container {
            display: flex; 
            align-items: center; 
        }
        .header h1 {
            margin: 0; 
            font-size: 35px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .header a {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            color: black;
            text-decoration: underline;
            padding-left: 8px;
        }
        .header a :hover{
            color: rgb(230, 218, 174);
        }
        .header p {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 15px;
            color: black;
            padding-left: 45%;
            padding-top: 15px
        }
        .dashboard-content h1 {
            text-align: left;
            font-size: 25px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .navbar{
            padding-top: 15px;
            margin-top: 0;
            padding-left: 25px;
            width: 100%;
        }
        
        .navbar .table tr{
            background-color: rgb(252, 238, 182);
            margin: 0;
            padding: 0;
        }
        .navbar .table tr :hover{
            background-color: rgb(224, 217, 162);

        }
        .navbar .table tr th a{
            font-size: 12px;
            color: black;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .navbar li a{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 12px;
            color: black; 
            border: 15px 15px;
            border-color: black; 
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <header class="header">
            <div class="header-container">
                <h1>My Final Yearbook</h1>
                <p>Welcome <%= fullname %></p>
                <a href="/uadmin/logout" class="btnCustom">
                    Logout
                </a>
            </div>
        </header>
    </div>
    <nav  class="navbar">
        <table class="table table-bordered" id="modTable">
            <tbody>
                <tr>
                    <th><a href="#aboutU"  class="nav-link nav-link-aboutU active">University</a></th>
                    <th><a href="#addD" class="nav-link nav-link-addD">Add Dean Department</a></th>
                    <th><a href="#ad" class="nav-link nav-link-ad">Active Dean Account</a></th>
                    <th><a href="#pd" class="nav-link nav-link-pd">Pending Dean Account</a></th>
                    <th><a href="#DecD" class="nav-link nav-link-DecD">Declined Dean Account</a></th>
                    <th><a href="#uap" class="nav-link nav-link-uap">University Admin Profile</a></th> 
                </tr>
            </tbody> 
        </table>  
    </nav>
    <div class="container-2">
        <div class="tab-content dashboard-content">
            <div class="tab-pane active" id="aboutU">
                <h1>About University info content</h1>
            </div>
            <div class="tab-pane" id="addD">
                <h1>Add dean department content</h1>
            </div>
            <div class="tab-pane" id="ad">
                <h1>Active Dean content</h1>
            </div>
            <div class="tab-pane" id="pd">
                <h1>Pending Dean content</h1>
            </div>
            <div class="tab-pane" id="DecD">
                <h1>Decline Dean content</h1>
            </div>
            <div class="tab-pane" id="uap">
                <h1>University admin profile content</h1>
            </div>
        </div>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        function toggleTab(tabId) {
            // Hide all tab panes
            $('.tab-pane').removeClass('active');

            // Show the selected tab
            $(tabId).addClass('active');
        }

        // Click event for tab links
        $('.nav-link').click(function (e) {
            e.preventDefault();
            var tabId = $(this).attr('href');
            toggleTab(tabId);
        });
    </script>
    
</body>
</html>
