<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dean/Faculty Admin Registration</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    BODY{
        font-family: Arial, Helvetica, sans-serif;
        background-color:rgb(255, 255, 255);
    }
    *{
        box-sizing: border-box;
    }
    .container{
        padding: 20px;
        background-color:cornsilk;
    }
</style>
<body>
    
    <div class="container mt-5">
        <h1>Sample Upload</h1>
        <%- include ("./partials/message") %> 
        <form action="/sampleroutes" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= typeof title != 'undefined'? title : '' %>">
            </div>
			<div class="form-group">
                <label for="fileDocu">Upload your documents here:(.pdf 10MB limit)</label>
			    <input type="file" id="fileDocu" name="fileDocu">
            </div>
			<br> 
            <br>
            <button type="submit" class="btn btn-primary" id="registerButton">Register</button>
            
        </form>
    </div>

    <!-- Add Bootstrap JS and jQuery links here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const registerButton = document.getElementById('registerButton');
        const titleName = document.getElementById('title');
        const fileUpload = document.getElementById('fileDocu');
        let titleNameVal,fileUploadVal;
        registerButton.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelector('form').submit();
        });
        
    </script>
    
    
    <script>
        
        $(document).ready(function () {
          $(".alert").not(".alert-success-msg").delay(3000).fadeOut(300, function () {
            $(this).alert('close');
          });
      
          $(".alert-success-msg").delay(5000).fadeOut(300);
        });
      </script>
</body>
</html>