<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    :root {
        --color-1: rgb(247, 232, 173);
    }
    body {
        line-height: 1.5;
        font-family: serif;
        background-color: cornsilk;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    .container {
        max-width: 1250px;
        margin: auto;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .align-items-center {
        align-items: center;
    }
    .justify-content-between {
        justify-content: space-between;
    }
    .header {
        background-color: var(--color-1);
        padding-bottom: 0px;
    }
    .header .nav ul li {
        display: inline-block;
        margin-left: 40px;
    }
    .header .mfyb,
    .header .nav {
        padding: 0 15px;
    }
    .header .mfyb a {
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-transform: capitalize;
        transition: all 0.5s ease;
    }
    .header .mfyb a:hover,
    .header .mfyb a.active {
        color: #5e3a3a;
    }
    .header .nav ul li a {
        display: block;
        margin-left: 16px;
        padding: 10px 0;
        color: black;
        text-transform: capitalize;
        transition: all 0.5s ease;
        padding-right: 50px;
        font-size: 25px;
    }
    .header .nav ul li a:hover,
    .header .nav ul li a.active {
        color: #a10202;
    }
    .dashboard-content {
        padding: 20px;
        background-color:  cornsilk;
        margin-top: 20px;
    }
    .tab-pane {
        display: none;
    }
    .tab-pane.active {
        display: block;
    }
    #hometab{
        font-size: 30px;
        color: black;
        text-transform: capitalize;
        padding-top: 45px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .nav-link {
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
</style>
<body>
    <header class="header">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="mfyb">
                    <a>My Final Yearbook</a>
                    <br>
                </div>
                <nav class="nav">
                    <ul>
                        <li><a href="/superadmin/sadminlogin">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container-2">
            <div class="tab-content dashboard-content">
                <div class="tab-pane active" id="hometab">
                    <h1>My Final Yearbook</h1>
                    <h3>University Authorization</h3>
                </div>
            </div>
        </div>
    </header>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
